.idea/workspace.xml
*.DS_Store
._*
.DS_Store
homeworks/devops-diplom-yandexcloud/terraform/.terraform/
homeworks/devops-diplom-yandexcloud/terraform/.terraform.lock.hcl
homeworks/devops-diplom-yandexcloud/terraform/variables.tf
homeworks/devops-diplom-yandexcloud/terraform/terraform.tfstate
homeworks/devops-diplom-yandexcloud/terraform/terraform.tfstate.backup
homeworks/devops-diplom-yandexcloud/terraform/key.json
