.idea/workspace.xml
*.DS_Store
._*
.DS_Store
homeworks/devops-diplom-yandexcloud/terraform/.terraform/
homeworks/devops-diplom-yandexcloud/terraform/.terraform.lock.hcl
homeworks/devops-diplom-yandexcloud/terraform/variables.tf  
